.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: transparent;
  z-index: 1;
}
#cancelOrder,
#markAsComplete,
#forRating1 {
  width: 40rem;
  height: 20rem;
  padding: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.hover1:hover {
  box-shadow: 1px 2px 8px rgb(99, 91, 91);
}

#forRating1 div input {
  height: 2.5rem;
  padding: 2rem;
  border: 1px solid #dee2e6;
  border-radius: 1rem;
  width: 100%;
  text-align: center;
}
#forRating1 h4 {
  width: 40rem;
  color: red;
  text-align: center;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
