.address {
  width: 30rem;
  background-color: var(--primary-color);
  text-align: center;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.367);
  margin: 14rem auto;
}
.address__1stChild {
  color: #fff;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.address__2ndChild {
  width: 100%;
  background-color: #fff;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  padding: 2rem;
}
.address__2ndChild div input {
  height: 2.5rem;
  padding: 2rem;
  margin-bottom: 0.5rem;
  border: 1px solid #dee2e6;
  border-radius: 1rem;
  width: 100%;
}
.post-select {
  height: 4.5rem;
  padding-left: 1.5rem;
  border: 1px solid #dee2e6;
  border-radius: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 350px) {
  .address {
    width: 27rem;
  }
}
