* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* max-width: 2500px; */
}

.main-div {
  font-family: "Basis Grotesque Pro", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.75);
  position: relative;
}
