.editPhoneEmail {
  width: 40rem;
  margin: 5rem auto;
  padding: 2rem;
  box-shadow: 0 2px 8px black;
  border-radius: 5px;
  position: relative;
  text-align: center;
}
.editPhoneEmail input {
  height: 2.5rem;
  padding: 2rem;
  border: 1px solid #dee2e6;
  border-radius: 1rem;
  width: 100%;
  text-align: center;
}
.otpTimer {
  margin-top: 2rem;
  font-size: 1.3rem;
  border: 2px solid #dee2e6;
  border-radius: 5px;
}
.hover:hover {
  background-color: rgb(17, 97, 228, 0.5);
}

@media screen and (max-width: 600px) {
  .editPhoneEmail {
    margin-top: 5rem;
    width: 30rem;
  }
  .editPhoneEmail h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .editPhoneEmail {
    width: 25rem;
  }
  .editPhoneEmail h3 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 300px) {
  .editPhoneEmail {
    width: 20rem;
  }
  .editPhoneEmail h3 {
    font-size: 1.2rem;
  }
}
